# Local configuration file (sdk path, etc)
local.properties
keystore.properties

# Gradle
.gradle
build/

# Android Studio Project files
*.iml
.idea

# Python
__pycache__/
*.py[cod]
appium/pytestdebug.log

# Windows thumbnail db
.DS_Store